<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>

<body>
<div id="app">
    <form action="/confirm" method="post">
    <div>
        <label>name:</label><input type="text" id="name" name="name"/>
    </div>
    <br/>
    <div>
        <label>content:</label><input type="text" id="content" name="content"/>
    </div>
    <div><button type="submit" >post</button></div>
    </form>
</div>
<script>

</script>
<style>
    button{
        background: burlywood;
        width:100px;
        height:30px
    }
    body{
        text-align: center;
        font-family: "Comic Sans MS";
    }
    input{
        width: 500px;
        height:20px;
        background: aqua;
        font-family: "Comic Sans MS";
    }
</style>
</body>
</html>
